{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="blog-post">
      <h2 class="blog-post-title">{{ post.title }}</h2>
      <p class="blog-post-meta">
        <a class="text-decoration-none" href="#">{{ post.category.title }}</a>
        <br>
        {{ post.published_at }} by <a href="#">{{ post.author }}</a>
      </p>
      <p>
        {{ post.content|safe|striptags|truncatechars:300 }}
      </p>
      <p>
        </p>
        <p class="tag fst-italic">
        {% if post.tags.all %}
          {% for tag in post.tags.all %}
              <a href="#" class="text-decoration-none">
                  {{tag.name}}
              </a>
          {% endfor %}
        {% endif %}
        </p>
    </article>
  {% endfor %}
{% endblock %}
<!-- Pagination -->
<!-- <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled">Newer</a>
</nav> -->