<nav class="navbar navbar-dark">
  <a class="navbar-brand logo" href="/">Django Blog App</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <!-- search -->
    <!-- <a class="link-secondary" href="#" aria-label="Search">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24">
        <title>Search</title>
        <circle cx="10.5" cy="10.5" r="7.5"/>
        <path d="M21 21l-5.2-5.2"/>
      </svg>
    </a> -->

    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form> -->

    {% if user.is_authenticated %}
    <span class="p-2 text-light">Пользователь: {{ user.username }}</span>
      {% if perms.blog.add_post %}
      <a class="p-2 text-light" href="{% url 'add_post' %}">Добавить пост</a>
      {% endif %}
    <a class="p-2 text-light" href="{% url 'password_change' %}">Изменить пароль</a>
    <a class="p-2 text-light" href="{% url 'logout' %}">Выйти</a>
    {% else %}
    <a class="p-2 text-light" href="{% url 'login' %}">Войти</a> |
    <a class="p-2 text-light" href="{% url 'signup' %}">Регистрация</a>
    {% endif %}

  </nav>
</nav>